{{ define "main" }}
  {{ with .Site.Data.hero }}{{ partial "sections/hero.html" . }}{{ end }}
  {{ with .Site.Data.brands }}{{ partial "sections/brands.html" . }}{{ end }}
  {{ with .Site.Data.portfolio }}{{ partial "sections/portfolio.html" . }}{{ end }}
  {{ with .Site.Data.services }}{{ partial "sections/services.html" . }}{{ end }}
  {{ with .Site.Data.testimonials }}{{ partial "sections/testimonials.html" . }}{{ end }}
  {{ with .Site.Data.cta }}{{ partial "sections/cta.html" . }}{{ end }}
{{ end }}
